.About {
  height: calc(100vh - 70px);
  overflow-y: auto;
  /* overflow-x: hidden; */
}
.about-left-side {
  display: flex;
  margin-top: 2px;
  width: 200px;
  height: calc(100vh - 70px);
  position: fixed;
  align-items: center;
  background: #161b1f;
  flex-direction: column;
}
.about-h2 {
  color: #BCDEFA;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
}
.about-heading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: #22292f;
  width: 79%;
  border-radius: 5px;
}
.about-heading-p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
}
.about-social-media {
  margin: 7px;
  color: white;
}
.about-heading-p > a {
  margin: 0;
}
.about-profile-pic {
  box-shadow: 0px 0px 2px 1px #BCDEFA;
  border: .5px solid black;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.about-article {
  display: flex;
  margin-left: 200px;
  width: calc(100% - 200px);
}
.about-article-section {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  background: #161b1f;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.about-article-section-container {
  padding: 10px;
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
}
.about-article-title {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #BCDEFA;
  text-align: center;
}
.about-article-section-screen {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  background: #161b1f;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
}
.article-screen-close-button {
  position: absolute;
  right: 20px;
  top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
}
.article-selected-container {
  width: 100%;
  display: none;
  opacity: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  margin-bottom: -20px;
  padding-bottom: 30px;
}
.article-selected-container h2 {
  font-size: 26px;
  color: #BCDEFA;
  margin: 5px;
  padding-right: 20px;
}
.article-selected-container h3 {
  font-size: 20px;
  color: #BCDEFA;
  margin: 0px;
  margin-left: 15px;
  padding-right: 20px;
}
.article-selected-container p {
  font-size: 18px;
  color: white;
  margin: 15px;
  padding-right: 20px;
}
.article-selected-container a {
  color: #BCDEFA;
}
.article-selected-paragraphs-title {
}
.article-selected-paragraphs-content {
  
}