@font-face {
  font-family: 'tbb';
  src: url('../fonts/timeburnerbold.ttf');
}
@font-face {
  font-family: 'tbr';
  src: url('../fonts/timeburnernormal.ttf');
}
@font-face {
  font-family: 'abel';
  src: url('../fonts/abel-regular.ttf');
}

html, body {
  margin: 0;  
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  background: #2c2d2e;
  overflow: hidden;
}
.Home {
  display: flex;
}

.About, .Skills, .Contact, .Home, .Projects {
  height: 100vh;
  margin-left: 70px;
  max-height: 100vh;
}

.animate-hoc {
  position: relative;
  background: #252627;
}

@media (max-width: 1100px) {
  .About, .Skills, .Contact, .Home, .Projects {
    margin-left: 0px;
    height: 100vh;
    margin-top: 70px;
  }
}