.Skills {
  display: flex;
  overflow-y: auto;
  height: calc(100vh - 70px);
  margin-top: 2px;
  width: 100%;
}
.skills-paragraph {
  color: white;
}
.skills-link {
  color: #BCDEFA;
}
.skills-intro-article {
  width: 50%;
  margin: 20px;
  padding: 20px;
  min-height: fit-content;
  background: #161b1f;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.skills-intro-article > section h2 {
  color: #BCDEFA;
  font-size: 36px;
  margin: 0;
}
.skills-intro-article > section p {
  color: white;
  font-size: 17px;
  margin: 20px;
}
.skills-intro-article > section ul {
  margin: 20px; 
}
.skills-intro-article > section li {
  color: white;
  font-size: 20px;
}
.skills-intro-article > section img {
  height: 50px;
  margin: 10px;
}
.skills-intro-article > p {
  font-size: 20px;
  color: white;
}
.skills-heading-container {
  display: flex;
  align-items: center;
  height: auto;
}
.skills-wrap {
  perspective: 800px;
  perspective-origin: 50% 100px;
  align-self: center;
  position: fixed;
  left: 65%;
}
.skills-cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}
.skills-cube-el {
  position: absolute;
  width: 200px;
  height: 200px;
  background:#80ceb9;
  box-shadow: inset 0px 0px 60px black;
  border: .5px solid rgba(188, 222, 250, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-align: center;
}
.skills-cube-right {
	transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
.skills-cube-left {
  transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.skills-cube-top {
	transform: rotateX(90deg) translateY(-100px);
	transform-origin: top center;
}
.skills-cube-bottom {
	transform: rotateX(-90deg) translateY(100px);
	transform-origin: bottom center;
}
.skills-cube-front {
  transform: translateZ(100px);
}

@media (max-width:1000px) {
  .Skills {
    flex-direction: column;
  }
  .skills-wrap {
    position: relative;
    left: 0;
    top: 0;
    margin: 100px;
  }
  .skills-intro-article {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .skills-intro-article {
    width:85%;
    padding: 20px;
  }
  .skills-intro-article > section h2 {
    font-size: 28px;
  }
  .skills-intro-article > section p {
    font-size: 14px;
    margin: 10px;
  }
  .skills-intro-article > section ul {
    margin: 10px; 
  }
  .skills-intro-article > section li {
    color: white;
    font-size: 16px;
  }
  .skills-intro-article > p {
    font-size: 16px;
  }
}